body {
    background-color: rgb(27,27,27);
    font-family: sans-serif;
    /* font-size will determine the deltaY of the WheelEvent in firefox
    since that browser uses a deltaMode of 1, which is line mode */
    font-size: 14px;
    line-height: 1;
}
body * {
    box-sizing: border-box;
    cursor: default;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.overlay, #main {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-width: 800px;
}
.overlay {
    background-color: rgba(0,0,0,0.7);
    transition: opacity 0.2s;
    transition-timing-function : ease-in;
    z-index: 99; /* will prevent interference with selected tabs (z-index: 2) */
}
.overlay.off {
    opacity: 0
}
.overlay > * { /* this should center any content of an overlay */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.overlay#filedrop {
    pointer-events: none;
}
.overlay#filedrop .message {
    color: white;
    font-size: 1.3em;
    line-height: 100%;
    width: 400px;
    height: 60px;
    text-align: center;
}
.modal {
    width: 400px;
    height: 130px;
    background-color: purple;
    padding: 10px 20px;
    text-align: right;
}
.modal * {
    position: relative !important;/* to prevent things from changing in certain contexts */
    display: inline-block;
}
.modal .message {
    color: white;
    font-size: 0.9em;
    width: 100%;
    height: 85px;
    text-align: left;
}
.modal .choice {
    min-width: 80px;
    padding: 4px 10px;
    margin: 2px 5px;
    line-height: 1em;
    background-color: #dbb7ff;
    text-align: center;
    color: black;
}
.modal .choice:hover {
    background-color: #ead6ff;
}
#main {
    overflow: hidden; /* so the tabscrollbox doesn't create scrollbars */
}
#menu-button {
    position: fixed;
    top: 0;
    right: 0;
    width: 40px;
    height: 50px;
    background-color: rgb(27,27,27);
    border-left: solid 1px #515151;
    z-index: 99;
}
#tabs-main {
    position: absolute;
    top: 0;
    left: 0;
    right: 40px;
    height: 50px;
    overflow-x: scroll;
    overflow: -moz-scrollbars-none;
    white-space: none;
}
#tabs-main::-webkit-scrollbar {
    display: none;
}
#tabs {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
}
#tab-scrollbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 20px; /* because the tabs are 30px high */
}
#tab-scrollbar .track {
    position: absolute;
    top: 6px;
    left: 5px;
    right: 45px;
    height: 8px;
    background:
        linear-gradient(135deg,transparent 3px, #3d3d3d 0) top left,
        linear-gradient(45deg,transparent 3px, #3d3d3d 0) bottom left,
        linear-gradient(225deg,transparent 3px, #3d3d3d 0) top right,
        linear-gradient(315deg,transparent 3px, #3d3d3d 0) bottom right;
    background-size: 60% 50%; /* set width to 60% to avoid weird gap in middle */
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 0.2s;
}
#tab-scrollbar.on .track {
    opacity: 1;
}
#tab-scrollbar .thumb {
    position: absolute;
    top: -1px;
    width: 30px; /* initial/min width of thumb */
    height: 10px;
    background:
        linear-gradient(135deg,transparent 3px, rgb(27,27,27) 3px, rgb(27,27,27) 5px, #515151 0) top left,
        linear-gradient(45deg,transparent 3px, rgb(27,27,27) 3px, rgb(27,27,27) 5px, #515151 0) bottom left,
        linear-gradient(225deg,transparent 3px, rgb(27,27,27) 3px, rgb(27,27,27) 5px, #515151 0) top right,
        linear-gradient(315deg,transparent 3px, rgb(27,27,27) 3px, rgb(27,27,27) 5px, #515151 0) bottom right;
    background-size: 60% 50%;
    background-repeat: no-repeat;
}
.tab {
    position: absolute;
    bottom: 0;
    width: 130px;
    height: 30px;
    margin-right: 1px;
    padding: 9px 10px;
    color: #ccc;
    font-size: 0.9em;
    text-align: center;
    background-color: #686868;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    background: linear-gradient(225deg,transparent 4px, #686868 0);
    z-index: 1;
    /*border-radius: 7px 7px 0 0;*/
    /*transition: left 0.2s;*/
}
.tab.selected {
    background-color: #906f99;
    background: linear-gradient(225deg,transparent 4px, #906f99 0);
    color: #fff;
    z-index: 2;
}
.tab.current.selected {
    background-color: #bd91c9;
    background: linear-gradient(225deg,transparent 4px, #bd91c9 0);
}
#sheets {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
}
.sheet {
    position: relative;
    height: 100%;
    display: none;
}
.sheet.current {
    display: block;
}
.sheet > * {
    box-sizing: content-box;
}
.canvas {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    right: 200px;
    bottom: 0;
    background-image: url('images/diag-tile-bg.png');
}
.canvas * {
    position: absolute;
}
.sheet img {
    pointer-events: none;
    user-select: none;
    -webkit-user-drag: none;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
}
.sheet img.checkerbg {
    background-image: url('images/checkerboard-tile-bg.png')
}
.panel {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 199px;
    background-color: #474747;
}

